_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
.idea/.name
.idea/.rakeTasks
.idea/jsLibraryMappings.xml
.idea/composerJson.xml
.idea/compiler.xml
.idea/composerJson.xml
.idea/deployment.xml
.idea/encodings.xml
.idea/clossmans2.github.io.iml
.idea/composerJson.xml
.idea/jsLibraryMappings.xml
.idea/vcs.xml
clossmans2.github.io.iml