---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<!-- Add in the Navbar -->
	{% include nav.html %}

	<!-- Main content area -->
	<div class="container">		

		<!-- Start Blog Content -->
		<div class="col-md-offset-2 col-md-8 col-xs-12">
			{% for post in site.posts offset: 0 limit: 10 %}
			<div class="row blog-post">
				<h1>
					<a href="{{site.prefix}}{{post.url}}">{{ post.title }}</a>
				</h1>
				<p>
					<span class="glyphicon glyphicon-time"> Posted on {{ post.date | date_to_string }}</span>
				</p>
				<hr />
				<p>{{ post.excerpt | strip_html }}</p>
				<hr />
			</div>
			{% endfor %}
		</div>
		<!-- End Blog Content -->
		
		<!-- Begin widget panel -->
		<div class="col-md-2">
			<div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Popular Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#dinosaurs">Dinosaurs</a>
                            </li>
                            <li><a href="#spaceships">Spaceships</a>
                            </li>
                            <li><a href="#fried-foods">Fried Foods</a>
                            </li>
                            <li><a href="#wild-animals">Wild Animals</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#alien-abductions">Alien Abductions</a>
                            </li>
                            <li><a href="#business-casual">Business Casual</a>
                            </li>
                            <li><a href="#robots">Robots</a>
                            </li>
                            <li><a href="#fireworks">Fireworks</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
            </div>
            <!-- End well -->
		</div>
		<!-- End widget panel -->
	</div>
	{% include foot-scripts.html %}
</body>
</html>
